<a href="https://colab.research.google.com/github/Cloudum08/DSBDA-Lab/blob/main/DSBDAL_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Extract Sample document and apply following document preprocessing methods:
Tokenization, POS Tagging, stop words removal, Stemming and Lemmatization.
2. Create representation of document by calculating Term Frequency and Inverse Document
Frequency.

**Tokenization, POS Tagging, stop words removal, Stemming and
Lemmatization:**

Step 1: Download the required packages

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

Step 2: Initialize the text

In [ ]:
text= "Tokenization is the first step in text analytics. The process of breaking down a text paragraph into smaller chunks such as words or sentences is called Tokenization."

Step 3: Perform Tokenization

In [ ]:
#Sentence Tokenization
from nltk.tokenize import sent_tokenize
tokenized_text= sent_tokenize(text)
print(tokenized_text)

['Tokenization is the first step in text analytics  The process of breaking down a text paragraph into smaller chunks such as words or sentences is called Tokenization']

In [ ]:
#Word Tokenization
from nltk.tokenize import word_tokenize
tokenized_word=word_tokenize(text)
print(tokenized_word)

['Tokenization', 'is', 'the', 'first', 'step', 'in', 'text', 'analytics', 'The', 'process', 'of', 'breaking', 'down', 'a', 'text', 'paragraph', 'into', 'smaller', 'chunks', 'such', 'as', 'words', 'or', 'sentences', 'is', 'called', 'Tokenization']

Step 4: Removing Punctuations and Stop Word

In [ ]:
# print stop words of English
from nltk.corpus import stopwords
import re
stop_words=set(stopwords.words("english"))
print(stop_words)
#text= "How to remove stop words with NLTK library in Python?"
text= re.sub('[^a-zA-Z]', ' ',text)
tokens = word_tokenize(text.lower())
filtered_text=[]
for w in tokens:
  if w not in stop_words:
    filtered_text.append(w)
print("Tokenized Sentence:",tokens)
print("Filterd Sentence:",filtered_text)

{'y', 'll', 's', 'its', 'further', 'i', 'your', 'why', 'ain', 'isn', "weren't", 'over', 'having', 'herself', 'shan', 'from', "hasn't", 'of', 'above', "don't", 'yourselves', 'was', "you'd", 'hasn', 'him', 'under', 'wasn', 'them', 'again', 'such', 't', 'themselves', "mightn't", 'will', "mustn't", 'off', 'to', 'were', 'down', 'doing', "won't", 'those', 'both', 'and', 'so', 'does', 'some', 'here', 'do', 'won', 'his', 'only', 'just', 'few', "isn't", 'a', 'when', 'by', 'mustn', 'has', 'am', "it's", 'into', "that'll", 'these', 'is', 'been', 'through', 'yours', 'yourself', 'which', 'on', 'this', 've', 'any', 'if', 'during', 'hadn', "doesn't", 'ours', 'ma', 'don', 'didn', 'd', 'as', 'she', 'himself', 'whom', 'no', 'me', 'we', 'their', 'below', 'once', 'most', 'other', 'out', 'or', 'did', "shouldn't", "you're", 'myself', 'nor', 'then', 'between', 'that', 'have', "wouldn't", 'it', 'couldn', 'how', 'her', 'an', "didn't", 'what', "wasn't", 'there', 'until', "you'll", 'are', 'each', 'but', 'o', 'all', 'in', 're', 'with', "needn't", 'very', 'about', 'after', 'too', 'm', 'shouldn', 'before', "haven't", 'the', "aren't", 'mightn', 'you', 'who', 'my', "hadn't", "she's", 'had', 'ourselves', 'at', 'they', 'itself', "shan't", 'be', 'wouldn', 'being', "should've", "you've", 'haven', 'up', 'theirs', 'hers', 'same', 'he', 'than', 'while', 'should', 'weren', 'because', 'where', 'aren', 'against', 'our', "couldn't", 'needn', 'own', 'doesn', 'more', 'for', 'can', 'now', 'not'}
Tokenized Sentence: ['tokenization', 'is', 'the', 'first', 'step', 'in', 'text', 'analytics', 'the', 'process', 'of', 'breaking', 'down', 'a', 'text', 'paragraph', 'into', 'smaller', 'chunks', 'such', 'as', 'words', 'or', 'sentences', 'is', 'called', 'tokenization']
Filterd Sentence: ['tokenization', 'first', 'step', 'text', 'analytics', 'process', 'breaking', 'text', 'paragraph', 'smaller', 'chunks', 'words', 'sentences', 'called', 'tokenization']

Step 5 : Perform Stemming

In [ ]:
from nltk.stem import PorterStemmer
e_words= ["wait", "waiting", "waited", "waits"]
ps =PorterStemmer()
for w in e_words:
  rootWord=ps.stem(w)
print(rootWord)

wait

Step 6: Perform Lemmatization

In [ ]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
text = "studies studying cries cry"
tokenization = word_tokenize(text)
for w in tokenization:
  print("Lemma for {} is {}".format(w, wordnet_lemmatizer.lemmatize(w)))

Lemma for studies is study
Lemma for studying is studying
Lemma for cries is cry
Lemma for cry is cry

Step 7: Apply POS Tagging to text

In [ ]:
import nltk
from nltk.tokenize import word_tokenize
data="The pink sweater fit her perfectly"
words=word_tokenize(data)
for word in words:
    print(nltk.pos_tag([word]))

[('The', 'DT')]
[('pink', 'NN')]
[('sweater', 'NN')]
[('fit', 'NN')]
[('her', 'PRP$')]
[('perfectly', 'RB')]

**Algorithm for Create representation of document by calculating TFIDF**

Step 1: Import the necessary libraries.

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

Step 2: Initialize the Documents.

In [ ]:
documentA = 'Jupiter is the largest Planet'
documentB = 'Mars is the fourth planet from the Sun'

Step 3: Create BagofWords (BoW) for Document A and B.

In [ ]:
bagOfWordsA = documentA.split(' ')
bagOfWordsA

['Jupiter', 'is', 'the', 'largest', 'Planet']

In [ ]:
bagOfWordsB = documentB.split(' ')
bagOfWordsB

['Mars', 'is', 'the', 'fourth', 'planet', 'from', 'the', 'Sun']

Step 4: Create Collection of Unique words from Document A and B.

In [ ]:
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))
uniqueWords

{'Jupiter',
 'Mars',
 'Planet',
 'Sun',
 'fourth',
 'from',
 'is',
 'largest',
 'planet',
 'the'}

Step 5: Create a dictionary of words and their occurrence for each document in the corpus

In [ ]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsA:
  numOfWordsA[word] += 1
  numOfWordsB = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsB:
  numOfWordsB[word] += 1

In [ ]:
numOfWordsA

{'planet': 0,
 'Jupiter': 1,
 'is': 1,
 'Mars': 0,
 'Sun': 0,
 'largest': 1,
 'from': 0,
 'Planet': 1,
 'the': 1,
 'fourth': 0}

In [ ]:
numOfWordsB

{'planet': 1,
 'Jupiter': 0,
 'is': 1,
 'Mars': 1,
 'Sun': 1,
 'largest': 0,
 'from': 1,
 'Planet': 0,
 'the': 2,
 'fourth': 1}

Step 6: Compute the term frequency for each of our documents.

In [ ]:
def computeTF(wordDict, bagOfWords):
  tfDict = {}
  bagOfWordsCount = len(bagOfWords)
  for word, count in wordDict.items():
    tfDict[word] = count / float(bagOfWordsCount)
  return tfDict
tfA = computeTF(numOfWordsA, bagOfWordsA)
tfB = computeTF(numOfWordsB, bagOfWordsB)

In [ ]:
tfA

{'planet': 0.0,
 'Jupiter': 0.2,
 'is': 0.2,
 'Mars': 0.0,
 'Sun': 0.0,
 'largest': 0.2,
 'from': 0.0,
 'Planet': 0.2,
 'the': 0.2,
 'fourth': 0.0}

In [ ]:
tfB

{'planet': 0.125,
 'Jupiter': 0.0,
 'is': 0.125,
 'Mars': 0.125,
 'Sun': 0.125,
 'largest': 0.0,
 'from': 0.125,
 'Planet': 0.0,
 'the': 0.25,
 'fourth': 0.125}

Step 7: Compute the term Inverse Document Frequency.

In [ ]:
def computeIDF(documents):
  import math
  N = len(documents)
  idfDict = dict.fromkeys(documents[0].keys(), 0)
  for document in documents:
    for word, val in document.items():
      if val > 0:
        idfDict[word] += 1
  for word, val in idfDict.items():
    idfDict[word] = math.log(N / float(val))
  return idfDict
idfs = computeIDF([numOfWordsA, numOfWordsB])
idfs

{'planet': 0.6931471805599453,
 'Jupiter': 0.6931471805599453,
 'is': 0.0,
 'Mars': 0.6931471805599453,
 'Sun': 0.6931471805599453,
 'largest': 0.6931471805599453,
 'from': 0.6931471805599453,
 'Planet': 0.6931471805599453,
 'the': 0.0,
 'fourth': 0.6931471805599453}

Step 8: Compute the term TF/IDF for all words.

In [ ]:
def computeTFIDF(tfBagOfWords, idfs):
  tfidf = {}
  for word, val in tfBagOfWords.items():
    tfidf[word] = val * idfs[word]
  return tfidf

tfidfA = computeTFIDF(tfA, idfs)
tfidfB = computeTFIDF(tfB, idfs)
df = pd.DataFrame([tfidfA, tfidfB])

In [ ]:
df

,planet,Jupiter,is,Mars,Sun,largest,from,Planet,the,fourth
0,0.000000,0.138629,0.0,0.000000,0.000000,0.138629,0.000000,0.138629,0.0,0.000000
1,0.086643,0.000000,0.0,0.086643,0.086643,0.000000,0.086643,0.000000,0.0,0.086643

In [ ]:
tfidfA

{'planet': 0.0,
 'Jupiter': 0.13862943611198905,
 'is': 0.0,
 'Mars': 0.0,
 'Sun': 0.0,
 'largest': 0.13862943611198905,
 'from': 0.0,
 'Planet': 0.13862943611198905,
 'the': 0.0,
 'fourth': 0.0}

In [ ]:
tfidfB

{'planet': 0.08664339756999316,
 'Jupiter': 0.0,
 'is': 0.0,
 'Mars': 0.08664339756999316,
 'Sun': 0.08664339756999316,
 'largest': 0.0,
 'from': 0.08664339756999316,
 'Planet': 0.0,
 'the': 0.0,
 'fourth': 0.08664339756999316}

**Conclusion:**In this way we have done text data analysis using TF IDF algorithm